<html>
    <head>
        <title>Ejs Example</title>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <h1>views, Template Engines</h1>
        <p>Using ejs as a template engine</p>
        <h1><%=getName.name%></h1>
        <ul>
            <li><%=getName.searchResults[0]%></li>
        </ul>
    </body>
</html>